<div class="tools">
  <!--   <div class="random-images">
    <mat-form-field class="search tool">
      <mat-label>Search</mat-label>
      <input matInput type="text" [(ngModel)]="searchText" />
      <button
        *ngIf="searchText"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchText = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button class="tool" mat-raised-button (click)="getImages()">
      <mat-icon>autorenew</mat-icon> Get random images
    </button>
  </div> -->
  <div>
    <button class="tool" mat-raised-button (click)="uploadImage(1)">
      <mat-icon>cloud_upload</mat-icon> Upload Etalon
    </button>
    <button class="tool" mat-raised-button (click)="uploadImage(2)">
      <mat-icon>cloud_upload</mat-icon> Upload Sample
    </button>
  </div>
  <div>
    <button
      class="tool"
      mat-raised-button
      (click)="chooseFromCloudModal('25ms', '25ms')"
    >
      <mat-icon>cloud</mat-icon> Choose from cloud
    </button>
  </div>

  <div>
    <button
      class="tool"
      mat-raised-button
      [disabled]="isCompared ? false : true"
      (click)="save()"
    >
      <mat-icon>save</mat-icon> Save
    </button>
    <button class="tool" mat-raised-button (click)="results('25ms', '25ms')">
      <mat-icon>reorder</mat-icon> Results
    </button>
  </div>
  <div class="random-images">
    <mat-form-field class="search tool">
      <mat-label>Admission</mat-label>
      <input matInput type="number" max="100" min="0" [(ngModel)]="admission" />
    </mat-form-field>

    <mat-form-field class="search tool">
      <mat-label>K</mat-label>
      <input matInput type="number" min="1" [(ngModel)]="clusters" />
    </mat-form-field>
    <div hidden="true">
      <mat-form-field class="search tool">
        <mat-label>iterations</mat-label>
        <input matInput type="number" min="0" [(ngModel)]="iterations" />
      </mat-form-field>
    </div>
    <button
      class="tool"
      [disabled]="
        admission > 100 ||
        admission < 0 ||
        !photos[0].urls.small ||
        !photos[1].urls.small
          ? true
          : false
      "
      mat-raised-button
      (click)="compare()"
    >
      <mat-icon>compare</mat-icon> Compare
    </button>

    <button
      class="tool"
      [disabled]="
        admission > 100 ||
        admission < 0 ||
        !photos[0].urls.small ||
        !photos[1].urls.small
          ? true
          : false
      "
      mat-raised-button
      (click)="compareKmeans()"
    >
      <mat-icon>compare</mat-icon> Compare Advanced
    </button>
  </div>
  <div>
    <button class="tool" mat-raised-button (click)="swap()">
      <mat-icon>compare_arrows</mat-icon> Swap
    </button>
    <mat-slide-toggle
      [checked]="isGrayed"
      (change)="isGrayed = !isGrayed"
      color="primary"
      >Gray images</mat-slide-toggle
    >
  </div>
</div>

<mat-divider></mat-divider>

<input
  id="uploadImage1"
  type="file"
  (change)="onUploadImageChange($event, 1)"
/>
<input
  id="uploadImage2"
  type="file"
  (change)="onUploadImageChange($event, 2)"
/>

<div class="images">
  <img
    id="image1"
    [ngClass]="isGrayed ? 'greyed' : null"
    src="{{ photos[0].urls.small }}"
  />
  <img
    id="image2"
    [ngClass]="isGrayed ? 'greyed' : null"
    src="{{ photos[1].urls.small }}"
  />
  <div id="result"></div>
  <!--<img id="result" src="{{ result }}" />-->
</div>

<!-- <div>
  <a href="https://github.com/Pelyn0/imager">
    <button mat-raised-button>Source code</button>
  </a>
</div> -->
