.tools {
    margin: 20px 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.tool {
    margin: 2px 10px
}

.random-images {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

button.tool {
    height: calc(100% - 1.6em);
}

.images {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.images img {
    max-width: 30vw;
    max-height: 80vh;
}

#uploadImage1,#uploadImage2 {
    display: none;
}

.greyed {
    filter: grayscale(1);
}